@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Kurale&family=Texturina:wght@100&display=swap');
.App{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    position: relative;
    align-items: center;
    height: 100vh;
    text-align: center;
    /* font-size: 3rem; */
}
h2{
  position: absolute;
  font-size: 1.9rem;
  top: 25%;
  font-family: 'Texturina', serif;
  line-height: 2.5rem;
}

span{
  font-style: italic;
  font-family: 'Aref Ruqaa', serif;
}

.vib{
  font-weight: bold;
  font-style: normal;
}
.App select{
  position: absolute;
  top:44%;
  font-size: 1.4rem;
  /* outline: rgb(224, 136, 4); */
  width: 20%;
  padding: 5px;
  font-family: 'Kurale', serif;
}

.App select option{
  font-size: 1.4rem;
  width: 15%;
}

@media screen and (max-width:800px) {
  .App select{
    font-size: 1rem;
    /* outline: rgb(224, 136, 4); */
    width: 30%;
    top:43%;
    padding: 5px;
  }

  h2{
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .App select option{
    font-size: 1rem;
    line-height: 1rem;
    width: 20%;
    /* height: 30%; */
  }
}


@media screen and (max-width:500px) {
  .App select{
    font-size: 1rem;
    /* outline: rgb(224, 136, 4); */
    width: 50%;
    padding: 5px;
  }

  .App select option{
    font-size: 1rem;
    line-height: 1rem;
    width: 20%;
    /* height: 30%; */
  }
  h2{
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}

